<section class="wrapper">
	<h3 class="page-header"><i class="fa fa-user-md"></i>Manage Tags</h3>
	<span th:insert="fragments/topPageBar.html" th:remove="tag"/>

	<div id="allCategories">
	</div>

	<div class="row">
		<div class="col-lg-6">
			<section class="panel">

				<div class="panel-body">
					<a style="display: none;" href="#myModal-1" data-toggle="modal" class="btn btn-primary">
						Edit/Delete Category Zambi
					</a>

					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-1" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
									<h4 class="modal-title"></h4>
								</div>
								<div class="modal-body">

									<form class="form-horizontal" role="form">
										<div th:each="language : ${T(com.mycompany.advertising.service.language.Language).values()}" class="form-group">
											<label for="inputEmail1" class="col-lg-2 control-label" th:text="${language + ':'}"></label>
											<div class="col-lg-10">
												<input th:id="${'editCat_' + language}" type="text" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-offset-2 col-lg-10">
												<button type="submit" data-dismiss="modal" class="btn btn-info">Save</button>
												<button type="submit" data-dismiss="modal" class="btn btn-danger">Delete</button>
											</div>
										</div>
									</form>

								</div>

							</div>
						</div>
					</div>
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-2" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
									<h4 class="modal-title">Add new category for Zambi</h4>
								</div>
								<div class="modal-body">

									<form class="form-horizontal" role="form">
										<div th:each="language : ${T(com.mycompany.advertising.service.language.Language).values()}" class="form-group">
											<label for="inputEmail1" class="col-lg-2 control-label" th:text="${language + ':'}"></label>
											<div class="col-lg-10">
												<input th:id="${'addCat_' + language}" type="text" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-offset-2 col-lg-10">
												<button type="submit" data-dismiss="modal" class="btn btn-info">Add Category</button>
												<button type="submit" data-dismiss="modal" class="btn btn-danger">Cancel</button>
											</div>
										</div>
									</form>

								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

</section>

