<section class="wrapper">
	<h3 class="page-header"><i class="fa fa-user-md"></i>Manage Tags</h3>
	<span th:insert="fragments/topPageBar.html" th:remove="tag"/>

	<section class="panel">
		<header class="panel-heading">
			Tags Input
		</header>
		<div class="panel-body">
			<input name="tagsinput" id="tagsinput" class="tagsinput" value="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal" />
		</div>
	</section>
	<section class="panel">
		<header class="panel-heading">
			Tags Input
		</header>
		<div class="panel-body">
			<input name="tagsinput3" id="tagsinput3" class="tagsinput" value="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal" />
		</div>
	</section>
	</div>
</section>

