<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active"><a href="index.html"> <em class="icon_house_alt"></em> Profile</a></li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_desktop"></i>
                    <span>Users List</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="general.html">Users</a></li>
                    <li><a class="" href="buttons.html">Baned Users</a></li>
                </ul>
            </li>
            <li><a href="widgets.html"> <em class="icon_genius"></em> UA Advertieses </a></li>
            <li><a href="adminMessage" class=""><i class="icon_documents_alt"></i><span>Admin Message</span></a></li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
