<section class="wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><i class="fa fa-user-md"></i> Unaccepted Advertises</h3>
			<ol class="breadcrumb">
				<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
				<li><i class="icon_documents_alt"></i>Pages</li>
				<li><i class="fa fa-user-md"></i>Unaccepted Advertises</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<section class="panel">
				<header class="panel-heading">
					Unaccepted Advertises
				</header>

				<table class="table table-striped table-advance table-hover">
					<tbody>
					<tr>
						<th><i class="icon_profile"></i> User Name</th>
						<th><i class="icon_calendar"></i> Date</th>
						<th><i class="icon_bag_alt"></i> Title</th>
						<th><i class="icon_document_alt"></i> Text</th>
						<th><i class="icon_mobile"></i> Mobile</th>
						<th><i class="icon_cogs"></i> Action</th>
					</tr>
					<tr  th:each="advertise : ${advertises.getContent()}" th:id=" 'adv' + ${advertise.id}">
						<td th:text="${advertise.userTo.profilename}"></td>
						<td th:text="${#temporals.format(advertise.startdate, 'yyyy-MM-dd')}"></td>
						<td th:if="${advertise.title == null || advertise.title==''}"><a th:text="'-No Tiile-'" th:href="${'/showAdvertiseAdminMode/id=' + advertise.id}"></a></td>
						<td th:unless="${advertise.title == null || advertise.title==''}"><a th:text="${advertise.title}" th:href="${'/showAdvertiseAdminMode/id=' + advertise.id}"></a></td>
						<td><a th:text="${advertise.text}" th:href="${'/showAdvertiseAdminMode/id=' + advertise.id}"></a></td>
						<td th:text="${advertise.userTo.username}"></td>
						<td>
							<div class="btn-group">
								<a class="btn btn-success" href="javascript:void(0)" th:attr="onclick=|activeAdvertise(${advertise.id})|"><i class="icon_check_alt2"></i></a>
								<a class="btn btn-danger" href="javascript:void(0)" th:attr="onclick=|rejectAdvertise(${advertise.id})|"><i class="icon_close_alt2"></i></a>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="ah01-show_in_row_center dataTables_paginate paging_simple_numbers" id="example1_paginate">
					<ul th:if="${pages.firstPage!=1 OR pages.lastPage!=1}" class="pagination">
						<li class="paginate_button page-item previous" th:classappend="${currentPage==1} ? 'disabled'"
							id="example1_previous"><a
								th:attr="href=${currentPage!=1} ? @{'/index/search=' + (${search!=null}?${search}:'') + '/page=' + ${currentPage-1}}"
								aria-controls="example1"
								data-dt-idx="0"
								tabindex="0"
								class="page-link">Previous</a>
						</li>
						<li th:each="pageNo: ${#numbers.sequence(pages.firstPage, pages.lastPage)}"
							class="paginate_button page-item"
							th:classappend="${pageNo==currentPage} ? 'active'"><a
								th:attrappend="href=${pageNo!=currentPage} ? @{'/index/search=' + (${search!=null}?${search}:'') + '/page=' + ${pageNo}}"
								aria-controls="example1" th:attr="data-dt-idx=|${pageNo}|"
								tabindex="0" class="page-link">[[${pageNo}]]</a></li>
						<li class="paginate_button page-item next"
							th:classappend="${currentPage==advertises.getTotalPages()} ? 'disabled'" id="example1_next"><a
								th:attr="href=${currentPage!=advertises.getTotalPages()} ? @{'/index/search=' + (${search!=null}?${search}:'') + '/page=' + ${currentPage+1}}"
								aria-controls="example1"
								data-dt-idx="7" tabindex="0"
								class="page-link">Next</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<!-- page end-->
</section>

<script>
	function activeAdvertise(id) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			/*let stts01 = this.status;
			 if (stts01 == 200) */
			document.getElementById('adv' + id).remove();
		};
		xhttp.open("PATCH", "[[@{/api/advertises/acceptbyid=}]]" + id, true);
		xhttp.send();
	}
	function rejectAdvertise(id) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			/*let stts01 = this.status;
			 if (stts01 == 200) */
			document.getElementById('adv' + id).remove();
		};
		xhttp.open("PATCH", "[[@{/api/advertises/rejectbyid=}]]" + id, true);
		xhttp.send();
	}
</script>
