<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--flag-->
    <link th:href="@{/share/css/Amir-flag.css}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link th:href="@{/share/niceAdmin/css/bootstrap-theme.css}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link th:href="@{/share/niceAdmin/css/elegant-icons-style.css}" rel="stylesheet"/>
    <!-- Custom styles -->
    <link th:href="@{/share/niceAdmin/css/style.css}" rel="stylesheet">
    <link th:href="@{/share/niceAdmin/css/style-responsive.css}" rel="stylesheet"/>
    <link th:href="@{/share/css/Amir-Style-Class.css}" rel="stylesheet">
    <!-- font icon -->
    <link th:href="@{/share/niceAdmin/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link th:href="@{/share/niceAdmin/css/font-awesome.min.css}" rel="stylesheet"/>
</head>

<body>
<!--header start-->
<span th:insert="fragments/navbar.html" th:remove="tag"/>
<!--header end-->
<!--page bar start-->
<section class="wrapper" style="margin-top: 0px;">
    <span th:insert="fragments/topPageBar.html" th:remove="tag"/>
</section>
<div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 portlets">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">Add your advertise</div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="padd">

                    <div class="form quick-post">
                        <!-- Edit profile form (not working)-->
                        <form id="advForm" class="form-horizontal">
                            <!-- Title -->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="title" id="spnTitle">Title: 64 chars left</label>
                                <div class="col-lg-10">
                                    <input maxlength="64" type="text" class="form-control" id="titleBox" name="title">
                                </div>
                            </div>
                            <!-- Description -->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="content" id="spnText">Description: 512 chars left</label>
                                <div class="col-lg-10">
                                    <textarea maxlength="512" class="form-control" id="description" name="description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="exampleInputFile">Message Picture</label>
                                <div class="col-lg-10">
                                    <input class="form-control" name="pic1" type="file" id="pic1">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                            </div>
                            <!-- Title -->
                            <div class="form-group">
                                <label class="control-label col-lg-2" name="ext_link">Link</label>
                                <div class="col-lg-10">
                                    <input maxlength="64" type="text" class="form-control" id="advLink" placeholder="https://">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="exampleInputFile">Selected categories</label>
                                <div class="col-lg-10">
                                    <div id="advCatsDiv" class="tagsinput ah01-margin5_inner_childs" style="height: unset;">
                                    </div>
                                </div>
                            </div>
                            <!-- Tags -->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="tags">All categories</label>
                                <div id="allCategories" class="col-lg-10 tagsinput" style="height: unset;">
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="form-group">
                                <!-- Buttons -->
                                <div class="col-lg-offset-2 col-lg-9">
                                    <button onclick="publishAdv()" type="button" class="btn btn-primary">Publish</button>
                                    <button onclick="resetForm()" type="button" class="btn btn-default">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
                <div class="widget-foot">
                    <!-- Footer goes here -->
                </div>
            </div>
        </div>

    </div>

    <div class="ah01-row_wrap_space_between">
        <div style="width: 300px;margin: 20px;">
            <div style="background: white;padding-bottom: 30px;">
                <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
                <div style="margin: 22px;">
                    <h2>Card with an image on top</h2>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div style="width: 300px;margin: 20px;">
            <div style="background: white;padding-bottom: 30px;">
                <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
                <div style="margin: 22px;">
                    <h2>Card with an image on top</h2>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkred;color: white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">failed</h4>
            </div>
            <div class="modal-body">
                Sending failed
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button"> Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkgreen;color: white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">success</h4>
            </div>
            <div class="modal-body">
                send successfully
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" type="button"> Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<!-- <div class="modal-backdrop fade in"></div> -->
<a class="btn btn-danger" id="clickFail" data-toggle="modal" href="#myModal3" style="display: none;"></a>
<a class="btn btn-danger" id="clickSuccess" data-toggle="modal" href="#myModal2" style="display: none;"></a>

<div style="width:100%;" class="ah01-row_wrap_space_between">
    <div style="width: 300px;margin: 20px;">
        <div style="background: white;padding-bottom: 30px;">
            <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
            <div style="margin: 22px;">
                <h2>Card with an image on top</h2>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div style="width: 300px;margin: 20px;">
        <div style="background: white;padding-bottom: 30px;">
            <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
            <div style="margin: 22px;">
                <h2>Card with an image on top</h2>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div style="width: 300px;margin: 20px;">
        <div style="background: white;padding-bottom: 30px;">
            <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
            <div style="margin: 22px;">
                <h2>Card with an image on top</h2>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div style="width: 300px;margin: 20px;">
        <div style="background: white;padding-bottom: 30px;">
            <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
            <div style="margin: 22px;">
                <h2>Card with an image on top</h2>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>

<span th:insert="fragments/navbarJavaScripts.html" th:remove="tag"> </span>
<script>
    var txtarea = document.getElementById("description")
            , spnText = document.getElementById("spnText")
            , titleBox = document.getElementById("titleBox")
            , spnTitle = document.getElementById("spnTitle");
    txtarea.onkeyup = txtareaSetLen;
    titleBox.onkeyup = titleSetLen;
    function txtareaSetLen(){
        spnText.innerHTML = 'Description: ' + (512 - txtarea.value.length) + ' chars left';
    }
    function titleSetLen(){
        spnTitle.innerHTML = 'Title: ' + (64 - titleBox.value.length) + ' chars left';
    }
    window.onload = function(){
        txtareaSetLen();
        titleSetLen();
    };
</script>

<script th:inline="javascript" type="text/javascript">
    var isSending = false, advCats = [];
    function clickTag(id, depth){
        var editBtn = document.querySelector("a[href='#myModal-1']")
                ,editForm =  document.getElementById('myModal-1');
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200){
                const cat = JSON.parse(this.responseText);
                var currentLang = [[${T(com.mycompany.advertising.service.language.LngManager).whatLanguage(@authenticationFacadeImpl.getCurrentLocale())}]];
                addCategoriesSection(id, cat[currentLang], depth);
            }
        };
        xhttp.open("GET", [[@{/api/advCatecory?id=}]] + id, true);
        xhttp.send();
    }
    function addCat(id){
        var cat = {}
        cat.id = id;
        if (!advCats.some(item => item.id === id) && advCats.length<5){
            var selCat = document.getElementById('cat_' + id);
            advCats.push({...cat});

        var catText = selCat.querySelector('.btn-primary').text;
        var childStr = '<div id="advCat_' + id + '" class="btn-group"><a style="float: left;background-color: olive;border: 1px solid;border-color: olive;border-radius: 4px 0px 0px 4px;padding: 6px 12px;text-align: center;color: aliceblue;">' + catText + '</a><a class="btn btn-danger" onclick="removeCat(' + id + ')" href="javascript:void(0)"><i class="icon_close_alt2"></i></a></div>';
        document.getElementById("advCatsDiv").insertAdjacentHTML('beforeend', childStr);

        selCat.querySelector('.btn-success').remove();
        selCat.insertAdjacentHTML('beforeend', '<a class="btn btn-danger" onclick="removeCat(' + id + ')" href="javascript:void(0)"><i class="icon_close_alt2"></i></a>');
    }
    }
    function removeCat(id){
        for (var i = 0; i < advCats.length; i++) {
            if (advCats[i].id === id){
                document.getElementById('advCat_' + id).remove();
                var selCat = document.getElementById('cat_' + id);
                if (selCat != null){
                    selCat.querySelector('.btn-danger').remove();
                    selCat.insertAdjacentHTML('beforeend', '<a class="btn btn-success" onclick="addCat(' + id + ')" href="javascript:void(0)"><i class="icon_check_alt2"></i></a>');
                }
                advCats.splice(i, 1);
                break;
            }
        }
    }
</script>
<script>
    function addCategoriesSection(pid, ptext, depth){
        //delete all
        var allCats = document.getElementById("allCategories").children;
        for (var i = 0; i < allCats.length; i++) {
            if (allCats[i].getAttribute("depth") > depth) {
                allCats[i].remove();
                i--;
            }
        }
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200){
                console.log(this.responseText);
                let obj = JSON.parse(this.responseText);

                if (obj.length>0){
                    var childStr = '<section depth="' + (depth+1) + '" id="cats_' + pid +'" class="panel"><header class="panel-heading">Category:: ' + ptext + '</header><div  id="allCategories" class="tagsinput ah01-margin5_inner_childs" style="height: 100%;">';
                    obj.forEach(function(item){
                        childStr += '<div id="cat_' + item.id +'" class="btn-group"><a onclick="clickTag(' + item.id + ',' + (depth+1) + ')" class="btn btn-primary" href="javascript:void(0)">' + (item.text != null?item.text:'+undefined+') + '</a>' + (pid > 0 ?((advCats.some(item2 => item2.id === item.id)) ?'<a class="btn btn-danger" onclick="removeCat(' + item.id + ')" href="javascript:void(0)"><i class="icon_close_alt2"></i></a>':'<a class="btn btn-success" onclick="addCat(' + item.id + ')" href="javascript:void(0)"><i class="icon_check_alt2"></i></a>'):'') + '</div>';
                    });
                    childStr += '</div></section>';
                    document.getElementById("allCategories").insertAdjacentHTML('beforeend', childStr);
                }
            }
        };
        xhttp.open("GET", "[[@{/api/advCatecories?parentId=}]]"+pid+"&lan=[[${@authenticationFacadeImpl.getCurrentLocale()}]]", true);
        xhttp.send();
        //add list
    }
    window.onload = function () {
        addCategoriesSection(0, "Root", 0);
    };
    function publishAdv(){
        if (isSending) return;
        isSending = true;
        console.log("----------------------------------------------");
        var xhr  = new XMLHttpRequest();
        var data = new FormData(), advContent={};
        advContent.categories = advCats;
        advContent.title = document.getElementById('titleBox').value;
        advContent.text = document.getElementById('description').value;
        advContent.webSiteLink = document.getElementById('advLink').value;

        data.append("pic1",document.getElementById('pic1').files[0]);
        data.append("advContent",JSON.stringify(advContent));

        xhr.onload = function() {
            if (this.status == 200){
                document.getElementById('clickSuccess').click();
                resetForm();
            } else document.getElementById('clickFail').click();
            isSending = false;
        }
        xhr.open("POST", "[[@{/api/advertises}]]", true);
        xhr.send(data);
    }
    function resetForm(){
        advCats = [];
        document.getElementById('advForm').reset();
        document.getElementById('advCatsDiv').innerHTML = "";
        addCategoriesSection(0, "Root", 0);
    }
</script>
<script th:src="@{/share/niceAdmin/assets/jquery-knob/js/jquery.knob.js}"></script>
<script>
    //knob
    $(".knob").knob();
</script>

</body>
</html>