<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--flag-->
    <link th:href="@{/share/css/Amir-flag.css}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link th:href="@{/share/niceAdmin/css/bootstrap-theme.css}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link th:href="@{/share/niceAdmin/css/elegant-icons-style.css}" rel="stylesheet"/>
    <!-- Custom styles -->
    <link th:href="@{/share/niceAdmin/css/style.css}" rel="stylesheet">
    <link th:href="@{/share/niceAdmin/css/style-responsive.css}" rel="stylesheet"/>
    <link th:href="@{/share/css/Amir-Style-Class.css}" rel="stylesheet">
    <!-- font icon -->
    <link th:href="@{/share/niceAdmin/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link th:href="@{/share/niceAdmin/css/font-awesome.min.css}" rel="stylesheet"/>
</head>

<body>
<!--header start-->
<span th:insert="fragments/navbar.html" th:remove="tag"/>
<!--header end-->
<!--page bar start-->
<section class="wrapper" style="margin-top: 0px;">
    <span th:insert="fragments/topPageBar.html" th:remove="tag"/>
</section>
<div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 portlets">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">Add your advertise</div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="padd">

                    <div class="form quick-post">
                        <!-- Edit profile form (not working)-->
                        <form id="advForm" class="form-horizontal">
                            <!-- Title -->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="title" id="spnTitle">Title: 64 chars left</label>
                                <div class="col-lg-10">
                                    <input maxlength="64" type="text" class="form-control" id="titleBox" name="title">
                                </div>
                            </div>
                            <!-- Description -->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="content" id="spnText">Description: 512 chars left</label>
                                <div class="col-lg-10">
                                    <textarea maxlength="512" class="form-control" id="description" name="description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="exampleInputFile">Message Picture</label>
                                <div class="col-lg-10">
                                    <input class="form-control" name="pic1" type="file" id="pic1">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                            </div>
                            <!-- Title -->
                            <div class="form-group">
                                <label class="control-label col-lg-2" name="ext_link">Link</label>
                                <div class="col-lg-10">
                                    <input maxlength="64" type="text" class="form-control" id="advLink" placeholder="https://">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="exampleInputFile">Selected categories</label>
                                <div class="col-lg-10">
                                    <div id="advCatsDiv" class="tagsinput ah01-margin5_inner_childs" style="height: unset;">
                                    </div>
                                </div>
                            </div>
                            <!-- Tags -->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="tags">All categories</label>
                                <div id="allCategories" class="col-lg-10 tagsinput" style="height: unset;">
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="form-group">
                                <!-- Buttons -->
                                <div class="col-lg-offset-2 col-lg-9">
                                    <button onclick="publishAdv()" type="button" class="btn btn-primary">Publish</button>
                                    <button onclick="resetForm()" type="button" class="btn btn-default">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="widget-foot">
                    <!-- Footer goes here -->
                </div>
            </div>
        </div>

    </div>

    <div class="ah01-row_wrap_space_between">
        <div style="width: 300px;margin: 20px;">
            <div style="background: white;padding-bottom: 30px;">
                <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
                <div style="margin: 22px;">
                    <h3 style="margin: 0;">Card with an image on top</h3>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div style="width: 300px;margin: 20px;">
            <div style="background: white;padding-bottom: 30px;">
                <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
                <div style="margin: 22px;">
                    <h3>Card with an image on top</h3>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkred;color: white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">failed</h4>
            </div>
            <div class="modal-body">
                Sending failed
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button"> Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkgreen;color: white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">success</h4>
            </div>
            <div class="modal-body">
                send successfully
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" type="button"> Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<!-- <div class="modal-backdrop fade in"></div> -->
<a class="btn btn-danger" id="clickFail" data-toggle="modal" href="#myModal3" style="display: none;"></a>
<a class="btn btn-danger" id="clickSuccess" data-toggle="modal" href="#myModal2" style="display: none;"></a>

<div style="width:100%;" class="ah01-row_wrap_space_between">
    <div style="width: 300px;margin: 20px;">
        <div style="background: white;padding-bottom: 30px;">
            <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
            <div style="margin: 22px;">
                <h3>Card with an image on top</h3>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div style="width: 300px;margin: 20px;">
        <div style="background: white;padding-bottom: 30px;">
            <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
            <div style="margin: 22px;">
                <h3>Card with an image on top</h3>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div style="width: 300px;margin: 20px;">
        <div style="background: white;padding-bottom: 30px;">
            <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
            <div style="margin: 22px;">
                <h3>Card with an image on top</h3>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div style="width: 300px;margin: 20px;">
        <div style="background: white;padding-bottom: 30px;">
            <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/card.jpg" style="width: 100%;" alt="...">
            <div style="margin: 22px;">
                <h3>Card with an image on top</h3>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
<!--thymleaf calculator-->
<script>
    var basedomain="[[@{/}]]"
            , currentLocale = "[[${@authenticationFacadeImpl.getCurrentLocale()}]]"
            , currentLang = "[[${@authenticationFacadeImpl.getCurrentLanguage()}]]";
</script>
<span th:insert="fragments/navbarJavaScripts.html" th:remove="tag"> </span>
<script th:src="@{/share/ah01js/addAdvertise.js}"></script>
<script th:src="@{/share/niceAdmin/assets/jquery-knob/js/jquery.knob.js}"></script>
<script>
    //knob
    $(".knob").knob();
</script>

</body>
</html>