<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Album example for Bootstrap</title>

    <!--meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"-->

    <!-- Bootstrap CSS -->
    <link th:href="@{/share/niceAdmin/css/bootstrap.min.css}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link th:href="@{/share/niceAdmin/css/bootstrap-theme.css}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link th:href="@{/share/niceAdmin/css/elegant-icons-style.css}" rel="stylesheet" />
    <link th:href="@{/share/niceAdmin/css/font-awesome.min.css}" rel="stylesheet" />
    <!-- Custom styles -->
    <link th:href="@{/share/niceAdmin/css/style.css}" rel="stylesheet">
    <link th:href="@{/share/niceAdmin/css/style-responsive.css}" rel="stylesheet" />
    <link th:href="@{/share/css/Amir-Style-Class.css}" rel="stylesheet">
</head>

<body>
<span th:insert="fragments/navbar.html"  th:remove="tag"> </span>
<main role="main" style="margin-top: 30px;">
    <table class="table" style="margin-top:0px;width:95%;margin-top:30px;max-width: 1000px;">
        <tbody>
        <tr th:each="adminMessage : ${adminMessages.getContent()}" th:id=" 'admnmsg' + ${adminMessage.id}">
            <td scope="row">
                <div class="recent">
                    <a th:href="@{'/adminMessages/' + ${adminMessage.id}}">
                        <h3 th:text="${adminMessage.title}"></h3>
                    </a>
                </div>
                <h4 th:text="${adminMessage.message}" style="font-weight: unset;"></h4>
                <div class="ah01-row_wrap_space_between ah01-margin5_inner_childs" style="background: #d3ebff;">
                    <h6 th:text="${adminMessage.date}"></h6>
                    <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       style="font-size: 10px;padding: 2px;"
                       th:attr="onclick=|deleteAdminMessage(${adminMessage.id})|" class="btn-danger btb-sm"
                       href="javascript:void(0)" title="Bootstrap 3 themes generator">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="ah01-show_in_row_center dataTables_paginate paging_simple_numbers" id="example1_paginate">
        <ul class="pagination">
            <li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#"
                                                                                              aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
            <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1"
                                                            tabindex="0" class="page-link">1</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                      class="page-link">2</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0"
                                                      class="page-link">3</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0"
                                                      class="page-link">4</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0"
                                                      class="page-link">5</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0"
                                                      class="page-link">6</a></li>
            <li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1"
                                                                             data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
        </ul>
    </div>
</main>
<span th:insert="fragments/navbarJavaScripts.html" th:remove="tag"> </span>
<script th:if="${#request.userPrincipal}">
    /* When the user clicks on the button,
     toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("dropAH").classList.toggle("ah01-show");
    }

    // Close the dropdown if the user clicks outside of it
    document.onclick = function (event) {
        if (!event.target.matches('.ah01-dropspn')) {
            var dropdowns = document.getElementsByClassName("ah01-dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('ah01-show')) {
                    openDropdown.classList.remove('ah01-show');
                }
            }
        }
    }
</script>
<script th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    function deleteAdminMessage(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            let stts01 = this.status;
            if (stts01 == 200) document.getElementById('admnmsg' + id).remove();
        };
        xhttp.open("DELETE", "[[@{/restapi/adminMessage/}]]" + id, true);
        xhttp.send();
    }
</script>

</body>

</html>