<!doctype html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title>Album example for Bootstrap</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"-->

    <link th:href="@{/share/css/Amir-Style-Class.css}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link th:href="@{/share/niceAdmin/css/bootstrap-theme.css}" rel="stylesheet">
</head>

<body>
<header class="ah01-row_wrap_space_between ah01-navbar">
    <div id="leftdiv" class="ah01-show_in_row">
        <a id="addad" th:href="@{/addAdvertise}">Add your ad</a>

        <div class="search-row" id="top_menu">
            <form action="?" id="searchbar" method="get">
                <div style="position:relative;">
                    <input id="searchbox" placeholder="Search" type="text" name="search">
                    <input id="searchbutton" type="submit" value="" class="ah01-put_right_center">
                </div>
            </form>
        </div>
    </div>
    <div class="ah01-show_in_row_center">
        <select name="languages" id="languages">
            <option value="english">en</option>
            <option selected value="farsi">فا</option>
        </select>
        <a th:unless="${#request.userPrincipal}" id="loginNavbar" th:href="@{/login}">Login</a>

        <div th:if="${#request.userPrincipal}" class="ah01-dropdown">
            <span onclick="myFunction()" class="ah01-dropspn">SARA</span>

            <div id="dropAH" class="ah01-dropdown-content">
                <a th:href="@{/logout}">LogOUT</a>
                <a th:href="@{/User/Dashboard}">Profile</a>
                <a href="#contact">Messages</a>
            </div>
        </div>
        <img th:if="${#request.userPrincipal}" onclick="myFunction()" class="ah01-dropspn" style="border-radius:40%;"
             th:src="@{/share/img/avatar1_small.jpg}"/>
    </div>
</header>
<main role="main" style="margin-top: 30px;">
    <div class="ah01-show_in_row_center ah01-adver_body">
        <div th:each="advertise : ${advertises}" th:id="'adverCard' + ${advertise.id}">
            <a th:href="@{'/showAdvertise/id=' + ${advertise.id}}">
                <img th:src="${advertise.smallImageUrl}" alt="Card image cap">
            </a>
            <div>
                <a th:href="@{'/showAdvertise/id=' + ${advertise.id}}" th:text="${advertise.title}"></a>
                <p>[[${advertise.text}]]</p>
                <div class="ah01-row_wrap_space_between">
                    <a class="ah01_button_style01" th:href="${advertise.webSiteLink}">Link</a>
                    <a class="ah01_button_style01"
                       th:if="${!#authentication.principal.equals('anonymousUser') AND (#authentication.principal.id== advertise.userTo.id)}"
                       th:href="@{'/editAdvertise/id=' + ${advertise.id}}">
                        Edit</a>
                    <a class="ah01_button_style01 btn-danger"
                       th:if="${!#authentication.principal.equals('anonymousUser') AND (#authorization.expression('hasRole(''ROLE_ADMIN'')') OR #authentication.getPrincipal().getId() == advertise.userTo.id)}"
                       href="delete.html">
                        Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ah01-show_in_row_center dataTables_paginate paging_simple_numbers" id="example1_paginate">
        <ul class="pagination">
            <li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#"
                                                                                              aria-controls="example1"
                                                                                              data-dt-idx="0"
                                                                                              tabindex="0"
                                                                                              class="page-link">Previous</a>
            </li>
            <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1"
                                                            tabindex="0" class="page-link">1</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                      class="page-link">2</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0"
                                                      class="page-link">3</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0"
                                                      class="page-link">4</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0"
                                                      class="page-link">5</a></li>
            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0"
                                                      class="page-link">6</a></li>
            <li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1"
                                                                             data-dt-idx="7" tabindex="0"
                                                                             class="page-link">Next</a></li>
        </ul>
    </div>
    <div class="ah01-show_in_row_center" style="padding:20px;">
        <div class="ah01-blue_box ah01-show_childs_columns_center ah01-margin5_inner_childs">
            <h3>Contact us</h3>

            <div><a href="https://t.me/Amir_m32" class="btn btn-primary btn-sm">Telegram</a></div>
            <div><a th:href="@{/adminMessgesList/1}" class="btn btn-primary btn-sm">All messages</a></div>
        </div>
        <div th:if="${adminMessage != null}" class="ah01-blue_box ah01-show_childs_columns_center"
             style="display: block;">
            <div><a th:href="@{'/adminMessages/' + ${adminMessage.id}}"><h4 th:text="${adminMessage.title}"
                                                                            style="overflow: hidden;max-height: 20px;"></h4>
            </a></div>
            <h5 th:text="${adminMessage.message}" style="overflow: hidden;max-height: 80px;"></h5>
        </div>
        <div th:unless="${adminMessage != null}" class="ah01-blue_box">
            <h5>there is no message yet</h5>
        </div>
    </div>
</main>

<script>
    /* When the user clicks on the button,
     toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("dropAH").classList.toggle("ah01-show");
    }

    // Close the dropdown if the user clicks outside of it
    document.onclick = function (event) {
        if (!event.target.matches('.ah01-dropspn')) {
            var dropdowns = document.getElementsByClassName("ah01-dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('ah01-show')) {
                    openDropdown.classList.remove('ah01-show');
                }
            }
        }
    }
</script>

</body>
</html>
