<!doctype html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title th:text="'بازارچه - صفحه ' + ${currentPage} + (${search!=null and search!=''}?${' جستجو برای ' + search}:'')"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"-->

    <!-- Bootstrap CSS -->
    <link th:href="@{/share/niceAdmin/css/bootstrap.min.css}" rel="stylesheet">
    <!--flag-->
    <link th:href="@{/share/css/Amir-flag.css}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link th:href="@{/share/niceAdmin/css/bootstrap-theme.css}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link th:href="@{/share/niceAdmin/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link th:href="@{/share/niceAdmin/css/font-awesome.min.css}" rel="stylesheet"/>
    <!-- Custom styles -->
    <link th:href="@{/share/niceAdmin/css/style.css}" rel="stylesheet">
    <link th:href="@{/share/niceAdmin/css/style-responsive.css}" rel="stylesheet"/>
    <link th:href="@{/share/css/Amir-Style-Class.css}" rel="stylesheet">
</head>

<body>
<!--header start-->
<header class="header dark-bg" th:insert="fragments/navbar.html">
</header>
<!--header end-->
<span th:insert="fragments/topPageBar.html" th:remove="tag"/>

<div class="ah01-show_in_row_center">
    <h2>موردی برای نمایش وجود ندارد</h2>
</div>

<div class="ah01-show_in_row_center" style="padding:20px;">
    <div class="ah01-blue_box ah01-show_childs_column_center ah01-margin5_inner_childs">
        <h3>[[#{contactUs.text}]]</h3>

        <div><a href="https://t.me/Amir_m32" class="btn btn-primary btn-sm">[[#{telegram.text}]]</a></div>
        <div><a th:href="@{/adminMessgesList/1}" class="btn btn-primary btn-sm">[[#{allAdminMessages.text}]]</a></div>
    </div>
    <div th:if="${adminMessage != null}" class="ah01-blue_box ah01-show_childs_column_center"
         style="display: block;">
        <div><a th:href="@{'/adminMessages/' + ${adminMessage.id}}"><h4 th:text="${adminMessage.title}"
                                                                        style="overflow: hidden;max-height: 20px;"></h4>
        </a></div>
        <h5 th:text="${adminMessage.message}" style="overflow: hidden;max-height: 80px;"></h5>
    </div>
    <div th:unless="${adminMessage != null}" class="ah01-blue_box">
        <h5>there is no message yet</h5>
    </div>
</div>
</main>

<span th:insert="fragments/navbarJavaScripts.html" th:remove="tag"> </span>
<script sec:authorize="isAuthenticated()">
    function deleteAdvertise(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            let stts01 = this.status;
            if (stts01 == 200) document.getElementById('adverCard' + id).remove();
        };
        xhttp.open("DELETE", "[[@{/restapi/advertise/}]]" + id, true);
        xhttp.send();
    }
</script>
</body>
</html>
