<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Album example for Bootstrap</title>

    <!--meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"-->

	<link th:href="@{/share/css/Amir-Style-Class.css}" rel="stylesheet">
</head>

<body>
	<header class="ah01-row_wrap_space_between ah01-navbar">
	<div id="leftdiv" class="ah01-show_in_row">
      <a id="addad" th:href="@{/addMessage}">Add your ad</a>
      <div class="search-row" id="top_menu">
		<form action="?" id="searchbar" method="get">
		<div style="position:relative;">
		  <input id="searchbox" placeholder="Search" type="text" name="search"></input>
		  <input id="searchbutton" type="submit" value="" class="ah01-put_right_center" ></input>
		</div>
		</form>
      </div>
	</div>
	<div class="ah01-show_in_row_center">
		<select name="languages" id="cars" style="text-align:center;margin-right:25px;width:35px;border-radius: 11px;-webkit-appearance: none;
    -moz-appearance: none; text-indent: 1px;text-overflow: '';">
		<option value="english">en</option>
		<option selected value="farsi">فا</option>
		</select>
		<a th:unless="${#request.userPrincipal}" style="margin-right: 12px;font-size: 22px;font-weight: 1000;color: #00a0df!important;text-decoration: none;" th:href="@{/login.html}">Login</a>
		<div th:if="${#request.userPrincipal}" class="ah01-dropdown">
			<span onclick="myFunction()" class="ah01-dropspn">SARA</span>
			<div id="dropAH" class="ah01-dropdown-content">
				<a href="#home">LogOUT</a>
				<a href="#about">Profile</a>
				<a href="#contact">Messages</a>
			</div>
		</div>
		<img th:if="${#request.userPrincipal}" onclick="myFunction()" class="ah01-dropspn" style="border-radius:40%;" th:src="@{/share/img/avatar1_small.jpg}"/>
	</div>
	</header>
<main role="main" style="margin-top: 30px;">
	<div style="padding:10px;display:flex;Justify-content:center;flex-wrap:wrap;background-color: lavender;">
		<div th:each="advertise : ${advertises}" style="margin:10px;padding:10px;border-radius: 10px;border: 2px solid rgba(0,0,0,.15);width:155px;background-color: #b0b0b0;">
		<div style="margin:0 auto;">
			<img style="height: 180px;width: 100%;border: 2px solid rgba(0,0,0,.15);border-radius: 50%;background-color: #c6cfd7" th:src="@{/share/amirImg/search--v4.png}" alt="Card image cap">
			<div class="card-body">
				<a class="h5" th:href="${advertise.telegramlink}">title </a>

				<p class="card-text"
				   style="height:150px;overflow-y:hidden;">
					[[${advertise.text}]]</p>

				<div class="ah01-row_wrap_space_between">
					<a class="ah01_button_style01" th:href="@{/index.html}">View</a>
					<a class="ah01_button_style01" th:if="${userId == advertise.ownerid}" th:href="@{http://www.thymeleaf/documentation.html}">
					Edit</a>
					<a class="ah01_button_style01" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') OR userId == advertise.ownerid}" href="delete.html">
					Delete</a>
				</div>
			</div>
		</div>
		</div>
	</div>
	
	<div class="ah01-show_in_row_center" style="padding:20px;">
	<div>
		<a style="padding:10px;" href="https://t.me/Amir_Hosein31"><<</a>
		<a style="padding:10px;" href="https://t.me/Amir_Hosein31">1</a>
		<a style="padding:10px;" href="https://t.me/Amir_Hosein31">2</a>
		<a style="padding:10px;" href="https://t.me/Amir_Hosein31">3</a>
		<a style="padding:10px;" href="https://t.me/Amir_Hosein31">4</a>
		<a style="padding:10px;" href="https://t.me/Amir_Hosein31">>></a>
	</div>
	</div>
	
    <div class="ah01-show_in_row" style="padding:20px;justify-content: center; font-family: sans-serif;font-size: 90%">
        <div class=".col-md-4 bg-faded btn-lg" style="border:2px solid rgba(0,0,0,.15);border-radius: 5px;padding: 3px;padding:20px;background-color: cadetblue;margin:5px;">
            <h3 class="jumbotron-heading">Contact Us</h3>
            <a class="lead text-muted" href="https://t.me/Amir_Hosein31">Telegram</a>
        </div>
        <div class=".col-md-4 bg-faded btn-lg" style="border:2px solid rgba(0,0,0,.15);border-radius: 5px;padding: 3px;padding:20px;background-color: cadetblue;margin:5px;">
            <h3 class="jumbotron-heading">we are working on:</h3>
            <a class="lead text-muted"></a>
            <a class="lead text-muted"></a>
        </div>
    </div>
</main>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("dropAH").classList.toggle("ah01-show");
}

// Close the dropdown if the user clicks outside of it
document.onclick = function(event) {
  if (!event.target.matches('.ah01-dropspn')) {
    var dropdowns = document.getElementsByClassName("ah01-dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('ah01-show')) {
        openDropdown.classList.remove('ah01-show');
      }
    }
  }
}
</script>

</body>
</html>
