<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <link th:href="@{/share/css/Amir-Style-Class.css}" rel="stylesheet">
</head>

<body>
<!--[[${session.LAST_PHONENUMBER}]]-->
<!--[[${lastPhoneNumber}]]-->
<!--[[${phoneNoStatus}]]
th:if="${phoneNoStatus != null}"-->
<div class="ah01-show_all_childs_column_center">
    <form class="ah01-margin15_inner_childs" style="width: 100%;" th:action="@{/login}" method="post">
        <h1>Please sign in</h1>
        <input class="ah01-border_style01" id="phonenumber" placeholder="Phone Number" type="text" name="username"/>
        <p id="statusbar">
            <span th:if="${phoneNoStatus != null and #strings.toString(phoneNoStatus) == 'EXIST_BUT_NOT_ACTIVATED'}">
                phone number is not activated.
                <a th:href="@{/regitrationConfirm/phonenumber=} + ${lastPhoneNumber}">Click to Active</a>
            </span>
			<span th:if="${phoneNoStatus != null and #strings.toString(phoneNoStatus) == 'EXIST_BUT_TOKEN_DID_NOT_SEND'}">
				<a onclick="sendSmsToLastPhone()" href="#">Click to resend verification token to [[${lastPhoneNumber}]]</a>
			</span>
            <!--span th:unless="${phoneNoStatus == null OR (#strings.toString(phoneNoStatus) == 'EXIST_BUT_NOT_ACTIVATED' OR #strings.toString(phoneNoStatus) == 'EXIST_BUT_TOKEN_DID_NOT_SEND')}">
                UserName or Password is wrong
            </span-->
            <span th:unless="${(phoneNoStatus == null OR (#strings.toString(phoneNoStatus) == 'EXIST_BUT_NOT_ACTIVATED' OR #strings.toString(phoneNoStatus) == 'EXIST_BUT_TOKEN_DID_NOT_SEND')) and errorMessage!=null}" th:text="${errorMessage}">
            </span>
        </p>
        <input class="ah01-border_style01" placeholder="Password" type="password" name="password"/>

        <div>
            <label style="flex-flow: row;">
                <input type="checkbox" name="remember-me" value="true"> Remember me
            </label>
        </div>
        <div>
            <button class="ah01-border_style01" style="width: 132px;" type="submit" value="Sign In">Sign in</button>
        </div>
    </form>
    <div class="ah01-margin5_inner_childs">
        <div>
            <a class="ah01-border_style01" style="text-decoration: none;width: 110px;" href="signup">Sign up</a>
        </div>
    </div>
</div>
</body>
<script>
    var phonenumbertextbox = document.getElementById("phonenumber")
            ,statusbar = document.getElementById("statusbar");
    phonenumbertextbox.onchange = validatePhonenumber;

    function validatePhonenumber() {
        if (phonenumbertextbox.value.match(/\S/)) {//is not blank
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let obj01 = JSON.parse(this.responseText);
                    switch (obj01.phoneNoStatus) {
                        case "EXIST_BUT_NOT_ACTIVATED":
                            statusbar.innerHTML = 'phone number is not activated. <a href="[[@{/regitrationConfirm/phonenumber=}]]' + phonenumbertextbox.value + '">Click to Active</a>';
                            statusbar.style.color = "orange";
                            break;
                        case "EXIST_BUT_TOKEN_DID_NOT_SEND":
                            statusbar.innerHTML = '<a onclick="sendSms()" href="#">Click to resend verification token</a>';
                            statusbar.style.color = "orange";
                            break;
                        default:
                            phonenumbertextbox.setCustomValidity('');
                            statusbar.innerHTML = "";
                    }
                }
            };
            xhttp.open("GET", "[[@{/ajax/checkphonenumber/}]]" + phonenumbertextbox.value, true);
            xhttp.send();
        } else {
            phonenumbertextbox.setCustomValidity("Phone number is required");
            statusbar.innerHTML = "Phone number is required";
            statusbar.style.color = "red";
        }
    }
    function sendSms() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            document.getElementById("phonenumberstatus").innerHTML = this.responseText;
        };
        xhttp.open("GET", "[[@{/restapi/sendsms/}]]" + phonenumbertextbox.value, true);
        xhttp.send();
    }
</script>
<script th:if="${#strings.toString(phoneNoStatus) == 'EXIST_BUT_TOKEN_DID_NOT_SEND'}">
    function sendSmsToLastPhone() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            document.getElementById("statusbar").innerHTML = this.responseText;
        };
        xhttp.open("GET", "[[@{/restapi/sendsms/}]]" + "[[${lastPhoneNumber}]]", true);
        xhttp.send();
    }
</script>
</html>
