<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="docs/4.0/assets/img/favicons/favicon.ico">

    <title>Sign up page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <link th:href="@{/share/css/Amir-Style-Class.css}" rel="stylesheet">
</head>

<body>
<div class="ah01-show_childs_columns_center ah01-margin15_all_childs">
    <form th:action="@{/signup}" method="post">
        <h1>Welcome to BinaryBazar_AHM</h1>
        <input class="ah01-border_style01" placeholder="Phone Number" id="phonenumber"
               type="text" name="phonenumber"/>

        <p id="phonenumberstatus"></p>
        <input class="ah01-border_style01" placeholder="Email" type="email" name="email"/>
        <input class="ah01-border_style01" placeholder="User Name" id="username" type="text" name="username"/>
        <input class="ah01-border_style01" placeholder="Password" id="password" type="password" name="password"/>
        <input class="ah01-border_style01" placeholder="confirm_password" id="confirm_password" type="password"
               name="confirm_password"/>

        <div>
            <button class="ah01-border_style01" style="width: 100px;" type="submit" value="Sign Up">Sign up</button>
        </div>
        <p id="statusbar"></p>
    </form>
</div>
</body>
<script>
    var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password")
            , phonenumbertextbox = document.getElementById("phonenumber")
            , usernametextbox = document.getElementById("username");
    password.onkeyup = validatePassword;
    confirm_password.onkeyup = validatePassword;
    phonenumbertextbox.onchange = validatePhonenumber;
    usernametextbox.onkeyup = validateUsername;

    function validatePhonenumber() {
        if (phonenumbertextbox.value.match(/\S/)) {//is not blank
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let obj01 = JSON.parse(this.responseText);
                    switch (obj01.phoneNoStatus) {
                        case "EXIST_AND_ACTIVATED":
                            phonenumbertextbox.setCustomValidity("Phone number is exist");
                            document.getElementById("phonenumberstatus").innerHTML = "Phone number is exist";
                            document.getElementById("phonenumberstatus").style.color = "red";
                            break;
                        case "EXIST_BUT_NOT_ACTIVATED":
                            phonenumbertextbox.setCustomValidity("is not activate.");
                            document.getElementById("phonenumberstatus").innerHTML = 'phone number is not activated. <a href="[[@{/regitrationConfirm/phonenumber=}]]' + phonenumbertextbox.value + '">Click to Active</a>';
                            document.getElementById("phonenumberstatus").style.color = "orange";
                            break;
                        case "EXIST_BUT_TOKEN_DID_NOT_SEND":
                            phonenumbertextbox.setCustomValidity("sms token didn't send.");
                            document.getElementById("phonenumberstatus").innerHTML = '<a onclick="sendSms()" href="#">Click to resend verification token</a>';
                            document.getElementById("phonenumberstatus").style.color = "orange";
                            break;
                        case "NOT_EXIST":
                            phonenumbertextbox.setCustomValidity('');
                            document.getElementById("phonenumberstatus").innerHTML = "Phone number is ready";
                            document.getElementById("phonenumberstatus").style.color = "green";
                            break;
                        case "PHONE_FORMAT_NOT_CORRECT":
                            phonenumbertextbox.setCustomValidity("format is not correct");
                            document.getElementById("phonenumberstatus").innerHTML = "format should some thing like: 09353995511 or 9353995511";
                            document.getElementById("phonenumberstatus").style.color = "orange";
                            break;
                        default:
                            phonenumbertextbox.setCustomValidity('');
                            document.getElementById("phonenumberstatus").innerHTML = "";
                    }
                }
            };
            xhttp.open("GET", "[[@{/ajax/checkphonenumber/}]]" + phonenumbertextbox.value, true);
            xhttp.send();
        } else {
            phonenumbertextbox.setCustomValidity("Phone number is required");
            document.getElementById("phonenumberstatus").innerHTML = "Phone number is required";
            document.getElementById("phonenumberstatus").style.color = "red";
        }
    }
    function sendSms() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            document.getElementById("phonenumberstatus").innerHTML = this.responseText;
        };
        xhttp.open("GET", "[[@{/restapi/sendsms/}]]" + phonenumbertextbox.value, true);
        xhttp.send();
    }
    function validateUsername() {
        if (usernametextbox.value == "") {
            usernametextbox.setCustomValidity('user name is required');
            document.getElementById("statusbar").innerHTML = "user name is required";
        }
        else <!--if (usernametextbox.value.match(/^[a-zA-Z][\w]{3,19}$/)) {-->
        if (usernametextbox.value.length<4 || usernametextbox.value.length>20) {
            usernametextbox.setCustomValidity('User name should contain 4 .. 20 chars');
            document.getElementById("statusbar").innerHTML = "User name should contain 4 .. 20 chars";
        }
        else {
            usernametextbox.setCustomValidity('');
            document.getElementById("statusbar").innerHTML = "";
        }
    }

    function validatePassword() {
        if (password.value.length < 6) {
            password.setCustomValidity("password atleast 6 chars");
            confirm_password.setCustomValidity('');
            document.getElementById("statusbar").innerHTML = "password at least 6 chars";
        }
        else {
            password.setCustomValidity('');
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
                document.getElementById("statusbar").innerHTML = "confirm password Don't Match";
            } else {
                confirm_password.setCustomValidity('');
                document.getElementById("statusbar").innerHTML = "";
            }
        }
    }

    window.onload = function () {
        document.getElementById("statusbar").style.color = "red";
        validatePassword();
        validateUsername();
        validatePhonenumber();
    };
</script>
</html>
